# show banner
cat .banner

# our base
export BASE=$PWD

# a addidtional bin-dir for useing tools as well
export PATH=$BASE/bin:$PATH

# HetznerAPI Token
# e.g. you can use gopass for it
# gopass show -f <store/nameforsecret> key
export HCLOUD_TOKEN="not-set"

